<meta charset="utf-8">
<style>
  *{font-family: DejaVu Sans;}
  th{font-size: 20px;margin-bottom: 18px;font-weight: 300;}
  tr{}
  td{vertical-align: top; font-size: 12px; color: #000; padding: 10px 0;}
  tr td:first-child{color: #666; width: 40%; }
  .page_break { page-break-before: always; }
</style>
<table style="padding-left: 10%;">
  <tr style="page-break-after: avoid;"><th align="left"><?= $firstname . ' ' . $lastname ?></td></tr>
  <tr><td>
    <table width="100%" align="center" cellspacing="2" cellpadding="2">
      <tr><td>
        Цель:
      </td><td>
        <?= $goal ?>
      </td></tr>

      <tr><td>
        Дата рождения:
      </td><td>
        <?= $birthday ?>
      </td></tr>

      <tr><td>
        Желаемый уровень заработной платы:
      </td><td>
        <?= $wages ?> руб.
      </td></tr>

      <tr><td>
        Контактный телефон:
      </td><td>
        <?= $phone ?>
      </td></tr>

      <tr><td>
        Электронная почта:
      </td><td>
        <?= $email ?>
      </td></tr>

      <tr><td>
        Гражданство:
      </td><td>
        <?= $citizenship ?>
      </td></tr>

      <tr><td>
        Город:
      </td><td>
        <?= $city ?>
      </td></tr>

      <tr><td>
        Переезд в другой город:
      </td><td>
        <?= $move_city ?>
      </td></tr>

    </table>
  </td></tr>

  <tr style="page-break-after: avoid;"><th align="left">Опыт работы</td></tr>
  <tr><td>
    <table width="100%" align="center" cellspacing="2" cellpadding="2">
      <tr>
        <?= $experience ?>
      </tr>
    </table>
  </td></tr>

  <tr style="page-break-after: avoid;"><th align="left">Образование</td></tr>
  <tr><td>
    <table width="100%" align="center" cellspacing="2" cellpadding="2">
      <tr>
        <?= $education ?>
      </tr>
    </table>
  </td></tr>

  <tr style="page-break-after: avoid;"><th align="left">Дополнительное образование</td></tr>
  <tr><td>
    <table width="100%" align="center" cellspacing="2" cellpadding="2">
      <tr><td>
        Языки:
      </td><td>
        <?= $languages ?>
      </td></tr>

      <tr><td>
        Владение компьютером:
      </td><td>
        <?= $computer_control ?>
      </td></tr>

      <tr><td>
        Личные качества:
      </td><td>
        <?= $about ?>
      </td></tr>

    </table>
  </td></tr>

</table>
